__pycache__
*.npy
*.npz
*.pth
*.log
*.csv
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.tar
*.zip
*.gz
*.7z
*.rar
.DS_Store
.vscode/
.idea/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.out
*.aux